.ui-state-highlight{
    height: 30px;
}
.stateCard{
    width: 100%;
    box-shadow: 1px 1px 2px 1px rgba(148, 148, 148, 0.37);
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid rgb(189, 189, 189);
    .pic{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin: 5px;
        img{
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    .comments{
        font-size: 12px;
    }
    .state{
        color: rgb(172, 172, 172);
        font-size: 15px;
    }
}





// ProgressBar
.overflow_area{
    width: 60%;
    margin: 0 auto;
    // overflow: hidden;
    .form-progress {
        position: relative;
        display: block;
        // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);      
        // width: 60%;
        padding: 10px;
        height: 60px;
        margin: 0 auto;
        .progress{
            height: 7px;
            width: 100%;
            position: absolute;
            top: 10px;
            left: 5px;
        }
    }
}

.form-progress-indicator {
	position: absolute;
	top: 0px;
	left: 0;
	display: inline-block;
	width: 30px;
	height: 30px;
    line-height: 28px;
	background: rgb(231, 231, 231);
	border: 2px solid #ddd;
	border-radius: 50%;
	transition: all .2s ease-in-out;
	transition-delay: .3s;
	will-change: transform;
    text-align: center;
	z-index: 100;
	&.one	{ left: 5%; }
	// &.two 	{ left: 12%; }
	// &.three { left: 24%; }	
	// &.four 	{ left: 36%; }	
	// &.five 	{ left: 48%; }	
	// &.six 	{ left: 60%; }	
	// &.seven 	{ left: 72%; }	
	// &.eight 	{ left: 85%; }	
	// &.nine 	{ left: 97%; }	
	
	&.actives {
		animation: bounce .5s forwards;
		animation-delay: .5s;
		border-color: $primary;
		background-color:$primary;
        color: $white;
        .stepName{
            color:$primary ;
        }
	}
    &.hidden{
        display: none;
    }
    .stepName{
        position: absolute;
        width: 100px;
        left: -35px;
        text-align: center;
    }
}

.step-container{
    display: flex;
    justify-content: center;
    position: relative;
    .form-step{
        position: absolute;
        top: 0;
        &.hidden{
            display: none;
        }
        .accordion-button{
            padding: 10px;
        }
    }
    .check-Step{
        .nav-link{
            // color:rgb(76, 143, 219);
            &.active{
                color: brown;
            }
            &.onPage{
                background-color: rgb(219, 243, 250);
                border-radius: 5px;
            }
            .far{
                font-size: 14px;
                margin-right: 10px;
                // &.fa-check-circle{
                //     color: rgb(60, 207, 212);
                // }
            }
        }
    }
    // .form-step:not(:first-of-type){
    //     display: none;
    // }
}




// ProgressBar
// .overflow_area{
//     width: 60%;
//     margin: 0 auto;
//     overflow: hidden;
//     .form-progress {
//         position: relative;
//         display: block;
//         // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);      
//         // width: 60%;
//         padding: 10px;
//         height: 60px;
//         margin: 0 auto;
//         .progress{
//             height: 7px;
//             width: 100%;
//             position: absolute;
//             top: 10px;
//             left: 5px;
//         }
//     }
// }

// .form-progress-indicator {
// 	position: absolute;
// 	top: 0px;
// 	left: 0;
// 	display: inline-block;
// 	width: 30px;
// 	height: 30px;
//     line-height: 28px;
// 	background: rgb(231, 231, 231);
// 	// background: rgb(255, 255, 255);
// 	border: 2px solid #ddd;
// 	border-radius: 50%;
// 	transition: all .2s ease-in-out;
// 	transition-delay: .3s;
// 	will-change: transform;
//     text-align: center;
// 	z-index: 100;
// 	&.one	{ left: 5%; }
// 	// &.two 	{ left: 12%; }
// 	// &.three { left: 24%; }	
// 	// &.four 	{ left: 36%; }	
// 	// &.five 	{ left: 48%; }	
// 	// &.six 	{ left: 60%; }	
// 	// &.seven 	{ left: 72%; }	
// 	// &.eight 	{ left: 85%; }	
// 	// &.nine 	{ left: 97%; }	
	
// 	&.actives {
// 		animation: bounce .5s forwards;
// 		animation-delay: .5s;
// 		border-color: $primary;
// 		background-color:$primary;
//         color: $white;
//         .stepName{
//             color:$primary ;
//         }
// 	}
//     .stepName{
//         position: absolute;
//         width: 100px;
//         left: -35px;
//         text-align: center;
//     }
// }

// .step-container{
//     display: flex;
//     justify-content: center;
//     position: relative;
//     .form-step{
//         position: absolute;
//         top: 0;
//         &.hidden{
//             display: none;
//         }
//         .accordion-button{
//             padding: 10px;
//         }
//     }
//     .check-Step{
//         .nav-link{
//             // color:rgb(76, 143, 219);
//             &.active{
//                 color: brown;
//             }
//             &.onPage{
//                 background-color: rgb(219, 243, 250);
//                 border-radius: 5px;
//             }
//             .far{
//                 font-size: 14px;
//                 margin-right: 10px;
//                 // &.fa-check-circle{
//                 //     color: rgb(60, 207, 212);
//                 // }
//             }
//         }
//     }
//     // .form-step:not(:first-of-type){
//     //     display: none;
//     // }
// }